.responsive-container {
  max-width: 400px;
  padding: 11% 36%;
  text-align: center;
}

@media (max-width: 768px) {
  /* Adjust for mobile screens */
  .responsive-container {
    padding: 11% 7%;
  }
}
